body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F0F8FF; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    border-left: 5px solid #7FDBFF; 
}

h1 {
    text-align: center;
    color: #0074D9; 
    margin-bottom: 20px;
}

#todo-form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    font-size: 16px;
    background-color: #F0F8FF; 
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #2ECC40; 
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27AE60; 
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: white; 
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

li span {
    flex-grow: 1;
    margin-right: 10px;
    color: #2C3E50; 
}

li button {
    background-color: #FF851B;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

li button.edit-btn {
    background-color: #FFDC00; 
    margin-right: 8px;
}

li button:hover {
    opacity: 0.9;
}
